<%- include("partials/header") ; -%>
<main class="individualBlogGrid">
  <h1 class="blogTitle"><%=title%></h1>
  <h4 class="blogDate"><%=date%></h4>
  <p class="postDescrip">
    <%-content%>
  </p>
</main>
<%- include("partials/footer") ; -%>
